---
layout: default-layout
---


<h1>Welcome to the Web Audio API</h1>
<input class="soundclick" type="button" onclick="init()" value = "chords">
<input class="stopclick" type="button" onclick="stop()" value="stop">
<p>Count numbers: <output id="result"></output></p>
<!-- <canvas id="mycanvas" /> -->
<div id="info">Loading music<span id="loading_dots"></span></div>
    <div id="blog"><a href="http://srchea.com/blog/">srchea.com/blog</a></div>

<script src="/public/staticjs/oscillator.js"></script>
<script src="/public/staticjs/jquery-2.0.0.min.js"></script>
<script src="/public/staticjs/three.min.js"></script>
<script src="/public/staticjs/OrbitControls.js"></script>


        
        
        go home 
