
<!DOCTYPE html>
<html lang="en">

---
layout: default-layout
---

<script src="/public/staticjs/oscillator.js"></script>

<h1>Welcome to the Web Audio API</h1>
<input class="soundclick" type="button" onclick="makeSound()" value = "chords">
<canvas id="mycanvas" />
        
<body>
    <script src="public/staticjs/AudioSampleLoader.js"></script>
    <script src="public/staticjs/loader.js"></script>
    <script src ="public/staticjs/sequencer.js"></script> 
    
    <div id="info">Loading music<span id="loading_dots"></span></div>
    <div id="blog"><a href="http://srchea.com/blog/">srchea.com/blog</a></div>
    <script type="text/javascript" src="public/staticjs/jquery-2.0.0.min.js"></script>
    <script type="text/javascript" src="public/staticjs/three.min.js"></script>
    <script type="text/javascript" src="public/staticjs/js/OrbitControls.js"></script>
    <script type="text/javascript" src="public/staticjs/js/visualizer.js"></script>
    <script type="text/javascript" src="public/staticjs/js/audio.js"></script>
</body>
</html>