---
layout: default-layout
---
<h1 class="brand"><span class="brand__title">{{ site.title }}</span>
  <img class="brand__logo" src="{{assets}}{{ site.logo }}" alt="{{ site.title }}" />
</h1>

<div class="page">

  <div class="container" role="main">
    <div class = "row">
      <div class = "col-md-4">

        <div class="ambient-control">
          <button class = "playbutton">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            Play
          </button>
          <audio controls></audio>
        </div>
        </div>
      </div>

  </div>

</div>

