<!DOCTYPE html>

<html>

  <head>

    {{common "head"}}

  </head>

  <body class="page--default">

    {% body %}

    <script src="public/js/vendor.bundle.js"></script>
    
    <script src ="public/staticjs/audioTools.js"></script>
    <script src="public/staticjs/metadata.js"></script>
    
    <script src="public/staticjs/AudioSampleLoader.js"></script>
    <script src="public/staticjs/loader.js"></script>
    <script src ="public/staticjs/sequencer.js"></script>    
    
    <script src="/public/staticjs/oscillator.js"></script>
    
    <script src ="public/staticjs/director.js"></script>
    
    <script src ="public/staticjs/homePage.js"></script>
  </body>

</html>
