$max-width: 75em; // 1200px / 16px
@import 'colors';
$a-tags: 'a, a:active, a:hover';
$a-tags-hover: 'a:active, a:hover';

#{$a-tags} {
    // color: map-get($colors, lightblue);
    text-decoration: none;
}

#{$a-tags-hover} {
    // color: mix(map-get($colors, lightblue), map-get($colors, dark), 95%);
}
html,
body {
  cursor: wait;
  text-align: center;
  position: relative;
    height: 100%;
    background-color: #F2AAAA;
}



.page {
    position: absolute;
    padding-top:50px;
    width:100%;

}

.playbutton {
    color:white;
    background-color: transparent;
    width: 100px;
    border-width: 2px;
    border-color: #FFFFFF;
    border-style: solid;
}

.glyphicon-play {
    color: #FFF;
}

.tweets option {
  text-align: center;
  } 

.tweets {

  // position: absolute;
  margin-top: 30vw;
  
  bottom: 20%;
  background-color: #F2AAAA;
  border: none;
  // color: white;
  font-size: 22px;
  overflow:visible;
  height: 50px;
}

.aesthetic {
  position: relative;
  text-align: center;
  cursor: pointer;
  height: auto;
}

.aesthetic-img {
  position:absolute;
  top: 0;
  left: 40%;
  border-radius: 50%;
  
  height: 30vh;
  display: block;
  margin: auto; 
}

.overlay-img {
  position: absolute;
  top:1vh;
  left:40%;
  height: 20vh;
  opacity: .4;
  border-radius: 50%;
  -webkit-animation: pulsate 15s ease-out;
  -webkit-animation-iteration-count: infinite; 
  opacity: 0.0;
}


@-webkit-keyframes pulsate {
0% {-webkit-transform: scale(1.02, 1.06); opacity: 0.4;}
50% {-webkit-transform: scale(1.00, 1.0); opacity: 0.1;}
100% {-webkit-transform: scale(1.02, 1.06); opacity: 0.4;}
}
