$max-width: 75em; // 1200px / 16px
@import 'colors';
$a-tags: 'a, a:active, a:hover';
$a-tags-hover: 'a:active, a:hover';

#{$a-tags} {
    // color: map-get($colors, lightblue);
    text-decoration: none;
}

#{$a-tags-hover} {
    // color: mix(map-get($colors, lightblue), map-get($colors, dark), 95%);
}
html,
body {
    height: 100%;
    background-color: #F2AAAA;
}



.page {
    position: absolute;
    padding-top:50px;
    width:100%;

}
.playbutton {
    color:white;
    background-color: transparent;
    width: 100px;
    border-width: 2px;
    border-color: #FFFFFF;
    border-style: solid;
}
.glyphicon-play {
    color: #FFF;
}